<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables Home Page</title>
</head>
<body>
Below are the main tables for all topics
<ol>
    <li><a href="questions">Questions</a></li>
    <li><a href="tutorials" >Tutorials</a></li>
    <li><a href="formulae">Formulae</a></li>
</ol>
Below are the List of Tables present in Database
<ol>
    <li><a href="topics/numbers">Numbers</a></li>
    <li><a href="topics/problems_on_ages" >ProblemsOnAges</a></li>
    <li><a href="topics/progressions">Progressions</a></li>
</ol>
<b><a href="/topics"> Click Here to get topics list </a></b>
</body>

</html>